extends layout

block content
    .list-group
        each a, _ in posts
            br
            label
                a.list-group-item(href="/posts/"+a._id)= a.title
                if a.body.length > 50
                    a.list-group-item.text-muted(href="/posts/"+a._id)= a.body.substr(0,50)+'  . . . .'
                else
                     a.list-group-item.text-muted(href="/posts/"+a._id)= a.body