extends layout


block content
    .container.col-md-6.bg-light
        br
        .d-flex.justify-content-center
            h2 Login

        form.was-validated(action="/users/login" method="POST")
            .form-group
                label(for='username') Username:
                input#username.form-control(type='text', placeholder='Enter username', name='username', required='')
            .form-group
                label(for='password') Password:
                input#password.form-control(type='password', placeholder='Enter password', name='password', required='')
            .d-flex.justify-content-center
                button.btn.btn-primary.btn-block(type='submit') Submit
        p Dont have an account?
            a(href="signup")  Sign Up
        br