extends layout

block content
    .container.col-md-6.bg-light
        br
        .d-flex.justify-content-center
            h3 Sign Up

        form.was-validated(action="/users/signup" method="POST")
            .form-group
                label Name:
                input.form-control(type='text', placeholder='Enter name', name='name', required='')
            .form-group
                label Email:
                p.text-secondary Only used for password recovery or exceptional circumstances. Any upcoming feature involving emails will be opt-in.
                input.form-control(type='email', placeholder='Enter email', name='email', required='')
            .form-group
                label Username:
                input.form-control(type='text', placeholder='Enter username', name='username', required='')
            .form-group
                label Password:
                input.form-control(type='password', placeholder='Enter password', name='password', required='')
            .form-group
                label Confirm Password:
                input.form-control(type='password', placeholder='Confirm Password', name='password2', required='')
            .d-flex.justify-content-center
                button.btn.btn-primary.btn-block(type='submit') Submit
        p Already have an account?
            a(href="login")  Login
        br
